# Пример файла с чувствительными данными для разработки
# Скопируйте этот файл в .env.development и измените пароли

# Учетные данные базы данных
POSTGRES_USER=zabbix
POSTGRES_PASSWORD=zabbix_pwd
POSTGRES_DB=zabbix

# Учетные данные администраторов
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin
GRAFANA_ZABBIX_USER=Admin
GRAFANA_ZABBIX_PASSWORD=zabbix